[phases.setup]
nixPkgs = ["nodejs_20", "php82"]

[phases.install]
cmds = [
  "composer install --no-dev --prefer-dist --no-progress --no-interaction",
  "npm ci --no-audit --no-fund"
]

[phases.build]
cmds = [
  "npm run build",
  "php artisan config:cache",
  "php artisan route:cache",
  "php artisan view:cache"
]

[start]
cmd = "php artisan migrate --force && php artisan db:seed --force && php artisan serve --host=0.0.0.0 --port=${PORT:-8000}"

